/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white;
    color: black ;
}
/*
#mainpage {
    overflow-y: scroll !important;
    max-height: 100vh !important;
    verticalScroll:true;
    horizontalScroll:false;
    autoEnable:true;
}*/

#mainpage {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#information {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#about {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#manuals {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#plans {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#agreements {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#documents {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#procedures {
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#guidelines{
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#verified{
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

#display{
    overflow-y: auto !important;
    max-height: 100% !important;
    background-color: #d9edf7;
}

.tombol{
    color:#fff;
    text-shadow:0 -1px 0 skyblue;
    background:#2196F3;
    border-radius: 15px/50px;
}

.tombol_new{
    color:#fff;
    text-shadow:0 -1px 0 skyblue;
    background:#01579B;
    border-radius: 15px/50px;
}

.tombol_about{
    color:#fff;
    text-shadow:0 -1px 0 #CFD8DC;
    background:#607D8B;
    border-radius: 15px/50px;
}

.tombol_add{
    color:#fff;
    text-shadow:0 -1px 0 skyblue;
    background:#1976D2;
    border-radius: 15px/50px;
}

.tombol_generate{
    color:#fff;
    text-shadow:0 -1px 0 skyblue;
    background:#F44336;
    border-radius: 15px/50px;
}

.ukuran_kecil{
    border-width: medium;
}